html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.button-row {
    display: table-cell;
    width: 490px;
}

.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.background-green {
    background-color: rgb(29, 102, 29);
    color: white;
}

.background-red {
    background-color: rgb(197, 4, 4);
    color: white;
}

a {
    color: #c2185b;
}

/* You can add global styles to this file, and also import other style files */
