<div class="container my-4">
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="35%" fxFlex.lt-lg="" style="padding-bottom: 5%;">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <div class="row">
                            <div class="col-12 text-center mb-2">
                                <label class="fs-4">Canciones</label>
                                <button type="button" class="my-1 btn btn-outline-primary btn-circle ms-3 me-2" (click)="irCrearCancion()"><i class="bi bi-plus-lg"></i></button>
                            </div>
                        </div>
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <div class="input-group my-2">
                        <input #busqueda type="search" class="form-control" placeholder="Buscar canciones" aria-label="Search" (keyup)="buscarCancion(busqueda.value)">
                    </div>

                    <table mat-table [dataSource]="mostrarCanciones" class="mat-elevation-z8" summary="Lista de albumes" aria-describedby="colecName">

                        <ng-container matColumnDef="titulo">
                            <th mat-header-cell *matHeaderCellDef scope="col"> Canción </th>
                            <td mat-cell *matCellDef="let element" scope="row">
                            <mat-icon *ngIf="element.propia === 'False'">send</mat-icon>
                              {{element.titulo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="duracion">
                            <th mat-header-cell *matHeaderCellDef scope="col"> Duración </th>
                            <td mat-cell *matCellDef="let element" scope="row"> {{element.minutos | duracion }}:{{element.segundos | duracion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="share">
                          <th mat-header-cell *matHeaderCellDef scope="col"></th>
                          <td mat-cell *matCellDef="let element" scope="row">
                              <button *ngIf="element.propia === 'True'" type="button" class="btn btn-outline-info me-2" (click)="openDialog(element)" title="Compartir canción"><i class="bi bi-share"></i></button>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;; let i = index" [ngClass]="{'selected': i === indiceSeleccionado}" (click)="onSelect(row,i)"></tr>

                    </table>
                </mat-card-content>

            </mat-card>


        </div>
        <div fxFlex="65%" fxFlex.lt-lg="" style="padding-left: 5%;">
            <app-cancion-detail (deleteCancion)="eliminarCancion()" [cancion]="cancionSeleccionada"></app-cancion-detail>
        </div>
    </div>
</div>
