<div>
    <h1 class="p-3">Somos Ionic</h1>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col">
            <p>
                El sitio para almacenar la información de su colección de música. En este podrá buscar de manera más facil las canciones que tiene en su fonoteca y que quiere escuchar ...
            </p>
            <p>Muchos melómanos y coleccionistas de música se dedican a recopilar álbumes y gustos musicales y no tienen las herramientas adecuadas para administrar y compartir su música con amigos. A través de nuestra app podrás administrar tus álbumes
                y canciones, así como compartir tus gustos e historias que deja la música. Te invitamos a hacer parte de nuestra familia y te apoyaremos para que tengas una experiencia única descubriendo música e historias!</p>
        </div>
    </div>
</div>