footer {
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
    height: 60px;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}